@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

img {
    width: 80%;
    max-width: 1320px;
    display: block;
    margin: auto;
}

.btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    bottom: 40px;
    right: 40px;
}

@media (max-width:810px) {

    .projectback,
    .projecttop {
        width: 80%;
    }

    .btn {
        bottom: 20px;
        right: 5px;
    }
}